@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/***********BODY CSS***********/
body {
    font-family: 'Muli',sans-serif;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    margin: 0;
}
/* SIDE CONTAINER D-FLEX WITH 3 SECTIONS */
.side{
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: relative;
    margin: auto;
    border-radius: 50px;
}

/* PANEL IMAGE COVERING */
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex:0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
/* IMAGE SIZE  */
.panel img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
/* NEXT & PREV ARROW */
.next i:hover{
    font-size: 7rem;
    color:purple;
}
.prev i:hover{
    font-size: 7rem;
    color:purple;
}
/* ------------------------------ */

.panel.active{
    flex: 4;
}
h3{
    font-size: large;
    color: blueviolet;
}

.nav{
    position: absolute;
    bottom: 5%;
}
.nav i.active{
    color:blueviolet;

}




